@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

/* tailwind가 제공하는 클래스명 외에 내가 추가적으로 정의하고 싶다면 @utility 를 사용할 수 있습니다. */
@utility my-custom-text-color {
    color: #00008b;
}

/*
이미 정의된 유틸리티 클래스(Tailwind가 제공하는 클래스명 또는 내가 정의한 클래스명)를 재사용해 새롭게 정의하고 싶다면 @apply를 사용하세요.
@utility 를 활용하면 반복적으로 작성된 클래스를 공통화할 수 있습니다.
*/
@utility my-new-utility-class {
    @apply my-custom-text-color bg-indigo-200;
}
